others
LIQE/checkpoints
dataset
prior-dataset
wandb
data
bitsandbytes
outputs
exp_data
FaceImageQuality
SD
tmp
diffusers
prior-data
example_data
notebooks/artifacts
logs
*.egg-info
bk
others 
notebooks/
weights
test/*
*.png
dataset_bk

IP-Adapter/sdxl_models
IP-Adapter/models
IP-Adapter/assets

bk

*.egg-info